@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800');


// ================================== Variables
$color-primary: #F6C852;
$color-secondary: #E88E5C;
$color-danger: #d43c3c;
$color-text: #25231E;
$color-background: #F8F8F8;
$color-diasbled: #00000069;
$color-card-highlight: #F8EAC7;
$color-card: #FFFFFF;

$card-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);



// ================================== Text
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 400;
}
p.small {
  font-size: 0.8rem;
  font-weight: 400;
}
p.tiny {
  font-size: 0.65rem;
  font-weight: 400;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
.text--primary {
  color: $color-primary;
}
.text--secondary {
  color: $color-secondary;
}
.text--danger {
  color: $color-danger;
}



// ================================== Layout
.hoverable {
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}



// ================================== Inputs
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;

  color: $color-text;
  background-color: $color-primary;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  box-shadow: $card-shadow;

  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    box-shadow: none;
  }

  &.button-text {
    background-color: transparent;
    box-shadow: none;
  }

  &.button--danger {
    background-color: $color-danger;
  }
}



// ================================== Other
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: $color-text;
  background-color: $color-background
}